services:
  web2wallet:
    build: .
    ports:
      - "42069:42069"
    env_file:
      - .env
    volumes:
      - ./wallets.json:/app/wallets.json
      - ./wallets.json.lock:/app/wallets.json.lock
